* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(20, 19, 19);
}
header {
  width: 100%;
  height: 100vh;
}
nav {
  background-color: rgb(49, 48, 48);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.logo {
  margin-left: 300px;
}
.navigate {
  display: flex;
  gap: 120px;
  justify-content: space-evenly;
  text-decoration: none;
  margin-right: 300px;
  list-style: none;
  font-size: 23px;
}
.navigate a {
  text-decoration: none;
  color: white;
}
.navigate a:hover {
  color: rgb(194, 194, 194);
  cursor: pointer;
}
.hero {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
.h1 {
  width: 30%;
  text-align: center;
  font-size: 23px;
  font-weight: 600px;
  line-height: 1;
}
.paragraph {
  width: 30%;
  text-align: center;
  font-size: 16px;
  line-height: 1.15;
  color: rgb(219, 207, 207);
}
span {
  background: linear-gradient(120deg, rgb(230, 88, 37), rgb(165, 30, 165));
  background-clip: text;
  color: transparent;
}
.button {
  display: flex;
  gap: 20px;
}
button {
  padding: 16px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700px;
  border-radius: 30px;
}
button:hover {
  background-color: rgb(218, 214, 218);
}
button:nth-child(2) {
  background-color: black;
  color: white;
  border: 2px solid white;
}
button:nth-child(2):hover {
  background-color: rgb(99, 97, 97);
  color: white;
}
.codes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 40px;
}
h4 {
  color: rgb(214, 205, 205);
  font-size: 20px;
  font-weight: bold;
}
.png {
  display: flex;
  gap: 70px;
  height: 40px;
}
.png img {
  transition: transform 0.5s ease, opacity 0.5s ease;
  rotate: (0.5);
}
.png img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
